nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: space-between;
  align-items: center;
}

.btn-group,
.sprint-group {
  max-width: fit-content;
  display: flex;
  gap: 1em;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-items: center;
}

.sprint__title {
  font-size: 2rem;
}

.sprint__date {
  font-size: 1.125rem;
}
