<article>
  <h2 class="title">Team availability</h2>
  <ul class="user-list">
    <li class="user-list__item">
      <p-card>
        <div class="user-list__body">
          <div>
            <p class="user-list__name">Team Member Name</p>
            <p>Country</p>
          </div>
          <p-tag value="Available"></p-tag>
        </div>
      </p-card>
    </li>
    <li class="user-list__item">
      <p-card>
        <div class="user-list__body">
          <div>
            <p class="user-list__name">Team Member Name</p>
            <p>Country</p>
          </div>
          <p-tag value="Available"></p-tag>
        </div>
      </p-card>
    </li>
  </ul>
</article>
