<article>
  <h2 class="title">Holidays</h2>
  <ul class="holiday-list">
    <li class="holiday-list__item">
      <p-card>
        <div class="card-body">
          <div class="card-body__text-group">
            <p>Holiday Name</p>
            <p>Country</p>
          </div>
          <p class="card-body__date">Date</p>
        </div>
      </p-card>
    </li>
    <li class="holiday-list__item">
      <p-card>
        <div class="card-body">
          <div class="card-body__text-group">
            <p>Holiday Name</p>
            <p>Country</p>
          </div>
          <p class="card-body__date">Date</p>
        </div>
      </p-card>
    </li>
  </ul>
</article>
